# Node modules
node_modules/

# Environment variables
.env
/.gitkeep
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# Vercel build output (opsional)
.vercel/
